body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7.5fr 1.5fr;

    grid-template-areas:
    "header"
    "main"
    "nav";
}

header {
    grid-area: "header";
    background-color:#4C744C;
}

.logoName {
    margin: auto;
    text-align: center;
}

#appName {
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    color: white;
}

header img {
    width: 10vh;
    
}

main {
    grid-area: "main";
}

iframe {
    width: 100vw;
    height: 65vh;
}


nav {
    grid-area: "nav";
    height: 15vh;
    padding-top: 1vh !important;
}

.footer{
    font-size: small;
    color:#767274;
}

.bottomIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.fixed-bottom {
    border-top:black solid 1px;
}

.iconButton:hover{
    background-color:#4C744C;
    color: white;
}

#buttons {
    display: flex;
    gap: 15vw;
    margin: 0vh 5vw;
    margin-top: 1vh;
}

#buttons button {
    flex-grow: 1;
    background-color: #4C744C;
    border: none;
    height: 7vh;
    padding-top: 0.2rem;
    font-size: 2.8vh;
}

nav p {
    font-size: 3.5vw !important;
}

nav i {
    font-size: 10vw !important;
}


.bottomIcon button {
    color:#767274;
}

/* Active page icon style -classes: parking, services, routes, info, profile*/
.parking{
    color:#4C744C;
}

.parking p{
    color:#4C744C;
}

.parking:hover{
    color:white;
}
/* Active page style.*/


/* css style ends. needs to be removed after updating skeleton.css*/

main>form {
    font-size: 3vw;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 8% 3%;
    margin: 0% 5% 3%;
    grid-template-areas:
    "label label"
    "input input"
}

form>input {
    height: 4vh;
}

label {
    color: #4C744C;
}



iframe {
    width: 100vw;
    height: 50vh;
}

.result {
    margin: 0 auto;
}

.tg  {border-collapse:collapse;border-spacing:0;
    margin: 13px auto;
}

table {
    width: 85vw;
    background-color: #F8F0E6;
    color: #4C744C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.listNumber {
    width: 10vw;
    text-align:center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:4vw;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.field {
    width: 30vw;
    vertical-align:middle;
    text-align: center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:3.5vw;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.value, .slots {
    border-color: #4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:3vw;
    overflow:hidden;
    padding:10px 5px;
     word-break:normal; 
    text-align: center;
}

main {
    overflow: scroll;
}

.slots {
    text-align:center
}

form {
    width: 85vw;
}

h4 {
    margin-top: 2vh;
    margin-left: 7.5vw;
    color: #4C744C;
}

.lockerNumber {
    width: 85vw;
    padding: 5px;
    margin: 1px auto;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    color: #4C744C;
    background-color: #F8F0E6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quantity {
    margin-left: 15px;
    width: 50px;
}

#summary {
    margin-left: 7.5vw;
    margin-top: 15px;
    background-color: #4C744C;
    border: none;
}

#pay {
    margin: 0 auto;
    background-color: #4C744C;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}


