body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
    margin: 0em;
    overflow: hidden;
    grid-template-areas:
    "header"
    "main"
}

header {
    grid-area: header;
    background-color:#4C744C;
}
  
.logoName {
    margin: 0.5vh auto;
    text-align: center;
    height: 9vh;
}
  

header img {
    margin: 0px;
    height: 9vh;
}

.firstPage {
    grid-area: main;
}

#error-wrapper {
    position: absolute;
    color: white;
    width: 100%;
    top: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#error-div {
    background-color: #4C744C;
    padding: 2vw;
}

#not-found-title {
    font-size: 5vh;
    margin: 0;
}

.not-found-text {
    font-size: 2vh;
}

#back-click, #home-click {
    color: #84B430;
}