body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7.5fr 1.5fr;

    grid-template-areas:
    "header"
    "main"
    "nav";
}

header {
    grid-area: "header";
    background-color:#4C744C;
}

.logoName {
    margin: auto;
    text-align: center;
}

#appName {
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    color: white;
}

header img {
    width: 10vh;
}

main {
    grid-area: "main";
}

nav {
    grid-area: "nav";
    height: 15vh;
    padding-top: 1vh !important;
}

.footer{
    font-size: small;
    color:#767274;
}

.bottomIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.fixed-bottom {
    border-top:black solid 1px;
}

.iconButton:hover{
    background-color:#4C744C;
    color: white;
}

#buttons {
    display: flex;
    gap: 15vw;
    margin: 0vh 5vw;
    margin-top: 1vh;
}

#buttons button {
    flex-grow: 1;
    background-color: #4C744C;
    border: none;
    height: 7vh;
    padding-top: 0.2rem;
    font-size: 2.8vh;
}

nav p {
    font-size: 3.5vw !important;
    margin-bottom: 0px !important;
}

nav i {
    font-size: 8vw !important;
}

.bottomIcon button {
    color:#767274;
}

/* Active page icon style -classes: parking, services, routes, info, profile*/
.info{
    color:#4C744C;
}

.info p{
    color:#4C744C;
}

.info:hover{
    color:white;
}
/* Active page style.*/


/* css style ends. needs to be removed after updating skeleton.css*/

main {
    overflow: scroll;
    text-align: center;
}

main>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 2vh 0vw 1vh;
}

article {
    margin-bottom: 2vh;
}

p {
    margin: 1vh 0vw 2.5vh;
    font-size: 3vw;
}

img {
    width: 60vw;
    height: auto;
    border-radius: 4%;
    
}

main>div>a {
    font-size: 5vw;
    text-decoration: none;
    width: 100vw;
    height: 20vh;
}

a:link, a:visited {

    color: black;
    border: 2px solid #4C744C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

}
  
  a:hover, a:active {
    background-color:#4C744C;
    color: white;
}
