
body, html {
  z-index: -1;
  color: #4C744C;
  scroll-behavior: smooth;
  font-family: 'Open sans', serif;
  font-size: 10vw;
  height: 100%;
}

#homeButton {
  text-decoration: none;
  color: whitesmoke;
}
  
button:hover {
  background-color: silver;
}

h1 {
  font-family: 'Berkshire Swash', serif;
  font-size:20vw;
  margin-bottom: 1vh;
}

.topnav {
  background-color: #4C744C;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleIntro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 1vh;
}

.titleIntro > p {
  width: 50%;
  font-size: 4vw;
  margin: 0vh 0vw 30vh 35vw;
  font-weight: bold;
}

.button{
  margin: auto;
}

img {
  width:10vh;
}
  
.firstPage {
  height: 100%;
  background-image: url(/images/bike7p.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

button {
  border-radius: 5%;
  background-color: #4C744C;
  border: rgb(64, 66, 42) solid;
  border-width: 1px;
  font-size: 4vw;
  color:whitesmoke;
  width: 40vw;
  padding: 1.5vw;
}