body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;

  grid-template-areas:
  "header"
  "main"
}

header {
  grid-area: header;
  background-color:#4C744C;
}

.logoName {
  margin: 0.5vh auto;
  text-align: center;
  height: 9vh;
}

header img {
  margin: 0px;
  height: 9vh;
}

.firstPage {
  grid-area: main;
  background-image: url(../images/biking_sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  justify-items: center;
}

h1 {
  font-family: 'Berkshire Swash', serif;
  font-size: 12vh;
  margin: 5vh 0vw;
  color:#F8F0E6;
}

main p {
  color:#F8F0E6;
  width: 55vw;
  font-size: 2.5vh;
  margin: 10vh 0vw 5vh 0vw;
  font-weight: bold;
}

.button{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh 5vw;
  padding: 8vh 5vw;
}

button {
  border-radius: 5%;
  background-color: #4C744C;
  border: rgb(64, 66, 42) solid;
  border-width: 1px;
  font-size: 1.8vh;
  color:#F8F0E6;
  width: 40vw;
  padding: 2vh;
}

button:hover {
  background-color: silver;
}

#animated-logo {
  position: relative;
  animation-name: biking;
  animation-duration: 2s;
  animation-iteration-count: 4;
}

@keyframes biking {
  from {left: -60%; top: 0;}
  to {left: 60%; top: 0;}
}