
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;

  grid-template-areas:
  "header"
  "main";
}

header {
  grid-area: header;
  background-color:#4C744C;
}

.logoName {
  margin: 0.5vh auto;
  text-align: center;
  height: 9vh;
}

header img {
  margin: 0px;
  height: 9vh;
}

#homeButton {
  text-decoration: none;
  color: whitesmoke;
}

.firstPage {
  grid-area: main;
  height: 90vh;
  color: whitesmoke;
  background-image: url(../images/biking_9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  justify-items: center;
}

  h1 {
    font-family: 'Berkshire Swash', serif;
    font-size: 12vh;
    margin: 5vh 0vw;
    color:whitesmoke;
  }

  .titleIntro > p {
    color:whitesmoke;
    width: 55vw;
    font-size: 2vh;
    margin: 10vh 0vw 5vh 0vw;
    font-weight: bold;
  }

  .button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh 5vw;
    padding: 8vh 5vw;
  }
  

  button {
    border-radius: 5%;
    background-color: #4C744C;
    border: rgb(64, 66, 42) solid;
    border-width: 1px;
    font-size: 1.8vh;
    color:whitesmoke;
    width: 25vw;
    padding: 1vh;
  }

  .titleIntro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  button:hover {
    background-color: silver;
  }

  .shareButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fb-share-button {
    margin-right: 0.5vh;
  }

  .twitter-share-button {
    margin-left:0.5vh;
  }

  .pininterest-share-button{
    margin-left:1vh;
  }

  .shareButtons {
    margin-top: 15vh;
  }


