/* Active page icon style -classes: parking, services, routes, info, profile*/
.parking{
    color:#4C744C;
}

.parking p{
    color:#4C744C;
}

.parking:hover{
    color:white;
}
/* Active page style.*/

main>form {
    height: 8vh;
    font-size: 1.6vh;
    font-weight: bold;
    color: #4C744C;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    justify-content: space-around;
    gap: 0vh 3vw;
    margin: 0.5vh 3vw;
    grid-template-areas:
    "label label label"
    "input input input";
}


#start_date {
    height: 4vh;
    width: 40vw;
    max-width: 200px;
}

#duration {
    height: 4vh;
    width: 10vw;
    max-width: 150px;
    text-align: center;
}
  
.value-button {
    background-color: #4C744C;
    color: #F8F0E6;
    display: inline-block;
    border: 2px solid rgb(133, 133, 133);
    width: 6vw;
    height: 4vh;
    margin: 0px;
    padding-top: 0.4vh;
    text-align: center;
    vertical-align: middle;
}

#end_date {
    display: flex;
}
  
#decrease {
    border-radius: 1vh 0 0 1vh;
}
  
#increase {
    border-radius: 0 1vh 1vh 0;
}

#find {
    height: 4vh;
    width: 5vh;
    border-radius: 1vh;
    background-color: #4C744C;
    color: #F8F0E6;
    padding-left: 0px;
    padding-right: 0px;
}


iframe {
    width: 100vw;
    height: 40vh;
}

.result {
    margin: 0 auto;
}

.tg  {
    border-collapse:collapse;border-spacing:0;
    margin: 13px auto;
}

table {
    width: 90vw;
    background-color: #F8F0E6;
    color: #4C744C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40vh;
}

.listNumber {
    width: 10vw;
    text-align:center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size: 2vh;
    font-weight:normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal;
}

.titles {
    width: 25vw;
    vertical-align:middle;
    text-align: center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size: 1.5vh;
    font-weight: normal;
    font-weight:normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal;
}

.values {
    vertical-align:middle;
    border-color: #4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:1.5vh;
    font-weight: normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal; 
    text-align: center;
}

th.titles {
    height: 8vh;
}

.reserve {
    width: 15vw;
    border-color: #4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:1.5vh;
    overflow:hidden;
    text-align: center;
}

.reserve>button {
    height: 100%;
    width: 100%;
    background-color: #4C744C;
    color: #F8F0E6;
    font-weight:bold;
}

.slots {
    text-align:center
}
