
/* Active page icon style -classes: parking, services, routes, info, profile*/
.parking{
    color:#4C744C;
}

.parking p{
    color:#4C744C;
}

.parking:hover{
    color:white;
}
/* Active page style.*/


/* css style ends. needs to be removed after updating skeleton.css*/

iframe {
    width: 100vw;
    height: 50vh;
}

.result {
    margin: 0 auto;
}

.tg  {
    border-collapse:collapse;border-spacing:0;
    margin: 13px auto;
}

table {
    width: 90vw;
    background-color: #F8F0E6;
    color: #4C744C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40vh;
}

.listNumber {
    width: 10vw;
    text-align:center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size: 2vh;
    font-weight:normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal;
}

.titles {
    width: 25vw;
    vertical-align:middle;
    text-align: center;
    border-color:#4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size: 1.5vh;
    font-weight: normal;
    font-weight:normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal;
}

.values {
    vertical-align:middle;
    border-color: #4C744C;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:1.5vh;
    font-weight: normal;
    overflow:hidden;
    padding:5px 5px;
    word-break:normal; 
    text-align: center;
}

th.titles {
    height: 8vh;
}

.slots {
    text-align:center
}



