
/* Active page icon style -classes: parking, services, routes, info, profile*/
.parking{
    color:#4C744C;
}

.parking p{
    color:#4C744C;
}

.parking:hover{
    color:white;
}
/* Active page style.*/

#map {
    width: 100vw;
    height: 63vh;
}

#buttons {
    display: flex;
    gap: 7vw;
    margin: 0vh 5vw;
    /* margin-top: 1.5vh; */
}

#buttons button {
    flex-grow: 1;
    background-color: #4C744C;
    border: none;
    height: 6vh;
    width: 35vw;
    padding-top: 0.2rem;
    font-size: 2.6vh;
}


.high {
    color: white;
    background-color: #63D668;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.medium {
    color: white;
    background-color: #FF974D;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.low {
    color: white;
    background-color: #F23C32;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.full {
    color: white;
    background-color: #9E1313;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.mapLegend {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
}

.mapLegend > p {
    font-size: 4vw;
}

.reservation {
    font-size: 1.5em;
    color: white;
    background-color: #4C744C;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
}

main {
    overflow: visible;
}

.infoModal {
    text-align: right;
}

.infoModal > button {
    color: #4C744C;
    background-color: white;
    border: white;
    padding-top: 2px;
    font-size: 3vh;
}