
/* Active page icon style -classes: parking, services, routes, info, profile*/
.routes{
    color:#4C744C;
}

.routes p{
    color:#4C744C;
}

.routes:hover{
    color:white;
}
/* Active page style.*/

.filter {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    height: 7vh;
    padding: 0.5vh 2vw;
    align-items: center;
}

main select {
    width: 30vw;
    font-size: 1.5vh;
    height: 5vh;
}

main button {
    background-color:#4C744C ;
    border-radius: 20%;
    margin-right:5%;
    height: 5vh;
    width: 6vh;
    color: white;
    font-size: 2vh;
}


.routesImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    margin-top: 2vh;
    padding-left:4vw;
}

.routesName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: bottom;
    width: 42vw;
    font-size: 2vh;
    height: 5vh;
}

.routesDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 42vw;
    font-size: 1.5vh;
    height: 2vh;
}

.routesNameFont {
    font-weight: bold;
}

main img {
    width:90%;
}

.levelBackground {
    
    border-radius: 100px / 50px;
}

.fa-thumbs-up{
    color:#4C744C ;
}

.fa-filter {
    color:#4C744C ;
}



