main {
    display: flex;
    flex-direction: column;
}

.routesDisplay {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.routesNav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10%;
    margin-top: 1%;
}

#navLeftPadding {
    flex-grow: 2;
    flex-basis: 0;
    font-size: 3vw;
    display: flex;
    vertical-align: middle;
}

#navLeftPadding p {
    margin: auto;
}

#routesTitle {
    flex-grow: 4;
    flex-basis: 0;
    font-size: 8vw;
    margin-top: -1%;
}

.navButtonWrapper {
    flex-grow: 2;
    flex-basis: 0;
}

.routesNavButton {
    width: 7vw;
    height: 7vw;
    background-size: contain;
    float: right;
    margin-top: 5%;
}

#filterButton {
    background-image: url("../images/filter.png");
    margin-right: 5%;
}

#searchButton {
    background-image: url("../images/loupe.png");
    margin-right: 10%;
}

.routeElement {
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}

.likeOverlay {
    background-color: rgba(76,116,76, 0.6);
    width: 100%;
    height: 100%;
}

.overlapChild {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.heartImg {
    display: flex;
    vertical-align: middle;
    visibility: hidden;
}

.heartImg img {
    width: 30%;
    margin: auto;
}

.routeInfo {
    color: whitesmoke;
    text-shadow: 0.2vw 0.2vw black;
}

.routeInfo h2 {
    font-size: 5vw;
}

.routeInfo p {
    font-size: 3.5vw;
    margin-left: 2vw;
    text-align: left;
    margin-bottom: 0vw;
}

#routeOne {
    background-image: url("../images/routeOne.png");
}

#routeTwo {
    background-image: url("../images/routeTwo.png");
}

#routeThree {
    background-image: url("../images/routeOne.png");
}

#routeFour {
    background-image: url("../images/routeTwo.png");

}

#routeFive {
    background-image: url("../images/routeOne.png");
}

#routeSix {
    background-image: url("../images/routeTwo.png");
}