body {
    background-color:rgb(76, 116, 76);
}

main {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: white;
}

.routesNav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10vw;
    background-color: white;
}

#routesDisplay {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

#filterSettings, #searchSettings, #routeInfoPage {
    flex-grow: 1;
    visibility: hidden;
    overflow: auto;
    height: 0;
    background-color: rgb(76, 116, 76);
}

#filterSettings label {
    color: white;
}

#filterSettings {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#filterForm {
    margin-top: 5%;
    width: 80%;
    height: 100%;
}

#filterForm option {
    width: fit-content;
    height: fit-content;
    font-size: 2vw;
}

.filterButtonControl button {
    margin-top: 2%;
    float: right;
    background-color: white;
    color: black;
    width: 20%;
    height: 5%;
    font-size: 3vw;
    text-align: center;
}

#filterReset {
    margin-right: 5%;
}

#searchForm {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchSettings div {
    flex-grow: 1;
}

#searchFormText {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4vw;
}

#searchFormText input {
    width: 70%;
    height: 8vw;
}

#checkBoxForm {
    display: flex;
}

#formCheckLabel {
    color: white;
}

#navLeftPadding {
    flex-grow: 2;
    flex-basis: 0;
    font-size: 3vw;
    display: flex;
    vertical-align: middle;
}

#navLeftPadding p {
    margin: auto;
}

#routesTitleDiv {
    flex-grow: 4;
    flex-basis: 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

#routesTitle {
    font-size: 8vw;
}

.navButtonWrapper {
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#filterButton {
    margin-right: 10%;
}

#searchButton {
    margin-right: 5%;
}

.routesNavButton {
    width: 7vw;
    height: 7vw;
    background-size: contain;
    float: right;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.navButtonWrapper img {
    width: 80%;
    margin: auto;
}

.routeElement {
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}

.likeOverlay {
    background-color: rgba(76,116,76, 0.6);
    width: 100%;
    height: 100%;
}

.overlapChild {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.heartImg {
    display: flex;
    vertical-align: middle;
    visibility: hidden;
}

.heartImg img {
    width: 30%;
    margin: auto;
}

.routeInfo {
    color: whitesmoke;
    text-shadow: 0.2vw 0.2vw black;
}

.routeInfo h2 {
    font-size: 5vw;
}

.routeInfo p {
    font-size: 3.5vw;
    margin-left: 2vw;
    text-align: left;
    margin-bottom: 0vw;
}

#routeOne {
    background-image: url("../images/routeOne.png");
}

#routeTwo {
    background-image: url("../images/routeTwo.png");
}

#routeThree {
    background-image: url("../images/routeOne.png");
}

#routeFour {
    background-image: url("../images/routeTwo.png");

}

#routeFive {
    background-image: url("../images/routeOne.png");
}

#routeSix {
    background-image: url("../images/routeTwo.png");
}

@media (min-width: 500px) {

    #inlineFormCheck {
        width: 2em;
        height: 2em;
        margin-top: 1vw;
    }

    .checkBoxForm label {
        font-size: 2em;
    }

    #filterForm {
        font-size: 4vw;
    }

    .form-control {
        height: 5vw;
        font-size: 2.5vw;
    }
    
    #difficultySelect {
        height: 15vw;
    }

    .routeInfo p {
        font-size: 3vw;
    }
    
}