#routeInfoPage {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    color: white;
}

.routeInfoFlex {
    flex-grow: 1;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#routeInfoTitleDiv {
    flex-direction: row;
    width: 100%;
}

#routeInfoTitle {
    margin:0;
}

#routeTitleDiv {
    text-align: center;
    flex-grow: 7;
    font-size: 7vw;
    flex-basis: 0;
}

#routeInfoFlexPadding, #bookmarkButtonDiv {
    flex-grow: 2;
    flex-basis: 0;
}

#bookmarkButton {
    margin-right: 5%;
    background-color: white;
}

#bookmarkButtonImg {
    width: 80%;
    margin:auto;
}

.routeInfoSpace {
    height: 20vh;
}

#mapcontainer {
    width: 100vw;
}

#routeDescriptionTextDiv {
    width: 80%;
}