body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7.5fr 1.5fr;

    grid-template-areas:
    "header"
    "main"
    "nav";
}

header {
    grid-area: "header";
    background-color:#4C744C;
}

.logoName {
    margin: auto;
    text-align: center;
}

#appName {
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    color: white;
}

header img {
    width: 10vh;
    
}

main {
    grid-area: "main";
}


nav {
    grid-area: "nav";
    height: 15vh;
    padding-top: 1vh !important;
    background-color: white;
}

.footer{
    font-size: small;
    color:#767274;
}

.bottomIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.fixed-bottom {
    border-top:black solid 1px;
}

.iconButton:hover{
    background-color:#4C744C;
    color: white;
}

#buttons {
    display: flex;
    gap: 15vw;
    margin: 0vh 5vw;
    margin-top: 1vh;
}

#buttons button {
    flex-grow: 1;
    background-color: #4C744C;
    border: none;
    height: 7vh;
    padding-top: 0.2rem;
    font-size: 2.8vh;
}

nav p {
    font-size: 3.5vw !important;
}

nav i {
    font-size: 10vw !important;
}


.bottomIcon button {
    color:#767274;
}

/* Active page icon style -classes: parking, services, routes, info, profile*/
.services{
    color:#4C744C;
}

.services p{
    color:#4C744C;
}

.services:hover{
    color:white;
}
/* Active page style.*/

#map {
    width: 100vw;
    height: 61vh;
}


/* style for checkboxes.*/
.checkboxes {
    display: flex;
    flex-direction: row;
}

main {
    overflow: scroll;
}

.boximage {
    width: 7vw;
    text-align: center;
}

.selectFilter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1vh;

    grid-template-areas:
    "first second"
    "third fourth";
    gap: 0.5vh 0;
}

.selectFilter > div {
    border: #4C744C solid 1px;
    border-radius: 10px;
    padding-left: 2vw;
    width: 45vw;
}

label {
    font-size: 4vw;
}

.checkbox {
    width: 5vw;
    height: 5vw;
    color: #4C744C;
    vertical-align: middle;
}

.air {
    grid-area: first;
    margin: 0 auto;
}

.repair {
    grid-area: second;
    margin: 0 auto;
}

.rental {
    grid-area: third;
    margin: 0 auto;
}

input[type='checkbox']:checked::after {
    color: #4C744C;
}