body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7.8fr 1.2fr;

    grid-template-areas:
    "header"
    "main"
    "nav";
}

header {
    grid-area: header;
    background-color:#4C744C;
}

.logoName {
    margin: 0.5vh auto;
    text-align: center;
    height: 9vh;
}

header img {
    margin: 0px;
    height: 9vh;
}

main {
    grid-area: main;
    overflow: scroll;
}


nav {
    grid-area: nav;
    height: 12vh;
    background-color: white;
    padding: 1.5vh 2.5vw 0.5vh;
    border-top:black solid 1px;
}

.bottomIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.iconButton:hover{
    background-color:#4C744C;
    color: white;
}

nav button {
    flex-grow: 1;
    background-color: #4C744C;
    border: none;
    height: 8vh;
    padding: 0px 0px 1vh !important;
    font-size: 5vh !important;
    
}

.bottomIcon button {
    color:#767274;
}

nav p {
    font-size: 2vh !important;
    margin-bottom: 0px !important;
    color:#767274;
}



/* Active page icon style -classes: parking, services, routes, info, profile*/
/* .services{
    color:#4C744C;
}

.services p{
    color:#4C744C;
}

.services:hover{
    color:white;
} */
/* Active page style.*/

/* style for checkboxes.*/

